/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-cb-my-block {
	border: 1px dotted #f00;
}

.cb-my-block-red, .is-style-red {
    color: #f00 !important;
}

.cb-my-block-green, .is-style-green {
    color: #0f0 !important;
}

.cb-my-block-blue, .is-style-blue {
    color: #00f !important;
}

.cb-my-block-yellow, .is-style-yellow {
    color: #ff0 !important;
}

.cb-my-block-purple, .is-style-purple {
    color: purple !important;
}

.cb-my-block-pink, .is-style-pink {
    color: #f0f !important;
}

.cb-my-block-orange, .is-style-orange {
    color: #f0f !important;
}

.cb-my-block-black, .is-style-black {
    color: #000 !important;
}